*{
  box-sizing: border-box;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: inherit;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.container {
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

header {
  float: left;
  padding-left: 3em;
  width: 256px;
  position: relative;
  margin-top: 5vh;
  margin-right: 5vh;

  img {
    width: 100%;
  }

  @media only screen and
  (max-width:520px) {
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;
    padding-left: 1em;
    width: 130px;
  }

}

.social {
  float: right;
  margin-top: 8vh;
  margin-right: 5vh;
  position: relative;

  li {
    float: left;
    padding-right: 1em;
    padding-left: 1.5em;
  }

  img {
    height: 1em;
  }

  a:hover {
    text-decoration: none;
    border-bottom: solid 1px #FFF;
  }

  @media only screen and
  (max-width:520px) {
    margin-top: 4vh;
    margin-right: 1vh;

    li {
      float: left;
      padding-right: 0.5em;
      padding-left: 1em;
    }

  }

}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
